*{
  margin: 0;
}

.App{
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}

.white{
  background-color: white;
}

.blue{
  background-color: blue;
}

.red{
  background-color: red;
}

.head, .black-fon{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}


.head .russia div{
  height: 10px;
  width: 100vw;
}

.head img{
  border: 1px solid black;
}

.flags{
  display: flex;
  gap: 50px;
  align-items: center;
  justify-content: center;
  margin-bottom: 50px;
}

.title{
  font-size: 3.5rem;
  text-align: center;
}

.desc{
  text-align: center;
  font-size: 2.5rem;
  margin: 100px 20px;
}

.UPLoader-patriotizm{
  display: flex;
  flex-direction: column;
  border: 2px solid red;
  padding: 10px;
}

.line{
  height: 2px;
  width: 100%;
  background-color: red;
}

/* patriotizm end */

.patriotizm{
  position: fixed;
  padding: 3px;
  background-color: white;
  color: red;
  top: 5px;
  right: 5px;
  cursor: pointer;
}

.dron{
  background: url(../../public/assets/dron.jpg) no-repeat;
  background-size: cover;
  color: white;
  width: 100vw;
  height: 100%;
  overflow-y: hidden;
  overflow-x: hidden;
}

.black-fon{
  background-color: rgba(0, 0, 0, 0.785);
  height: 100%;
  width: 100%;
  padding: 50px;
}

.dron .UPLoader{
  background-color: #0450d5;
  display: flex;
  align-items: center;
  flex-direction: column;
  border-radius: 10px;
  padding: 10px;
}

.dron .UPLoader input{
  opacity: 0;
  position: absolute;
}

.dron .UPLoader .button{
  /* background: #0450d5; */
  line-height: 1.2;
  color: white;
  text-align: center;
  padding: 15px;
  border-radius: 4px;
  cursor: pointer;
}

.loader{
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.829);
  z-index: 3;
}

.loader-circle {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  display: inline-block;
  position: relative;
  border: 3px solid;
  border-color: #FFF #FFF transparent transparent;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}
.loader::after,
.loader::before {
  content: '';  
  box-sizing: border-box;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  border: 3px solid;
  border-color: transparent transparent #FF3D00 #FF3D00;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  box-sizing: border-box;
  animation: rotationBack 0.5s linear infinite;
  transform-origin: center center;
}
.loader::before {
  width: 32px;
  height: 32px;
  border-color: #FFF #FFF transparent transparent;
  animation: rotation 1.5s linear infinite;
}
    
@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
} 
@keyframes rotationBack {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}

@media (max-width: 500px){
  .flags{
    flex-direction: column;
    gap: 10px;
  }
}
