*{
  margin: 0;
}

.App{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.white{
  background-color: white;
}

.blue{
  background-color: blue;
}

.red{
  background-color: red;
}

.head{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.head .russia div{
  height: 10px;
  width: 100vw;
}

.head img{
  border: 1px solid black;
}

.flags{
  display: flex;
  gap: 50px;
  align-items: center;
  justify-content: center;
  margin-bottom: 50px;
}

.title{
  font-size: 2.5rem;
}

.desc{
  font-size: 1.5rem;
  margin: 100px 20px;
}

.Loader{
  display: flex;
  flex-direction: column;
  border: 2px solid red;
  padding: 10px;
}

.line{
  height: 2px;
  width: 100%;
  background-color: red;
}

.area{
  overflow-x: hidden;
}

