<!DOCTYPE html>
<link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">
<div class="Home">
    <div class="loader">
      <span class="loader-circle"></span>
    </div>
    <div class="App">
      <div class="head dron">
        <div class="black-fon">
          <div class="title">
            zxcTMOL613
          </div>
          <div class="desc">
            <div>Сайт определяет наличие аномалии GPS, атаки на БПЛА и её тип (асинхронная, синхронная, глушение GPS)</div>
          </div>
          <main>
            <form class="UPLoader" method=post enctype=multipart/form-data>
                <input class="button" type="file" name=file id="file"/>
                <button class="button">Отправить</button>
            </form>
          </main>
        </div>
      </div>
    </div>
</div>
<script src="" />
