<!DOCTYPE html>
<link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">
<div class="Home">
    <div class="loader">
      <span class="loader-circle"></span>
    </div>
    <div class="App">
      <div class="head dron">
        <div class="black-fon">
          <div class="title">
            zxcTMOL613
          </div>
          <div class="desc">
            <div>Сайт определяет наличие аномалии GPS, атаки на БПЛА и её тип (асинхронная, синхронная, глушение GPS)</div>
          </div>
          <main>
          <div class="UPLoader">
            <form method=post enctype=multipart/form-data>
                <input type=file name=file id="file"/>
                <label for="file" class="button">
                    Загрузите файл .csv
                </label>
                <button>dd</button>
            </form>
            </div>
          </main>
        </div>
      </div>
    </div>
</div>
<script src="" />
